

.wrap-con{

      padding-top: 20px;

}

.sg-greet{

	color: red;
    font-size: 29px;
    text-shadow: 2px 2px darkgray;
}

.mem-count {

        color: gray;

}

.row-style-1 {
    margin-bottom: 35px !important;
    height: 35px;
}

.col-style-1 {
    height: inherit;
}


.color-label-1 {
    height: 54px;
    width: 54px !important;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border-radius: 50%;
}

.member-label-1 {
    width: inherit;
    text-align: center;
    line-height: 54px;
    vertical-align: middle;
}

.col-style-2 {
    height: inherit;
}


.member-label-height {
    line-height: inherit !important;
    font-size: 15px;
}